header {
    width: 100%;
    height: 70px;
    background-color: #000000;;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.heading {
    text-align: center;
    text-decoration: underline;
}
nav {
    width: 82%;
    height: 150px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

.dropdown-btn, nav > ul > li {
    display: block;
    margin: 0.5rem 1rem;
    padding: 0.2 rem;
    font-size: 20px;
}

h3, li {
    color: #f1be32;
}

header h3 {
    margin: 1.5rem 0.5rem;
    width: 18%;
}

.intro, .education {
    font-size: 18px;
}

li {
    margin: 0 50px;
}

body {
    margin: 0;
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=600);
    color: #f1be32;
    height: 100vh;
    font-family: sans-serif;
}

.indi {
    height: 120vh;
}

main {
    text-align: justify;
}

.item > p {
    display: inline-block;
}

.divider {
    border-bottom: 1px solid #f1be32;
    margin: 2px 0;
}

.name {
    width: 60%;
}

.year {
    text-align: right;
    width: 40%;
} 

.container{
    margin: 0 16%;
}

.container > ul > li {
    font-size: 16px;
    margin: 5px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #f1be32;
}

.subheading {
    text-decoration: underline;
    margin-bottom: 0;
}

.education {
    margin-right: 0;
}

.divider {
    border-bottom: 1px solid #f1be32;
}

.proglang {
    width: 100%;
    height: 100vh; 
}

footer {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 40%;
}

span {
    margin: 0 10px;
}

.dropdown {
    display: inline-block;
}

.dropdown-btn {
    background-color: #000000;
    border: none;
    color: #f1be32;
}
.dropdown-btn:hover {
    text-decoration: underline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    margin: 0 5%;
    width: 15%;
    height: 150px;
}

.dropdown-content a {
    color: #f1be32;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 25px 10px;
    border-bottom: 1px solid #f1be32;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-content {display: block;}

.btn {
    list-style-type: none;
}

.info {
    width: 720px;
}

.date {
    text-align: right;
}

.info, .date {
    height: 30px;
}

.footer-indi {
    margin-top: auto;
}

@media (max-width: 830px){
    header > h3 {
        display: none;
    }

    nav > ul > li, .dropdown-btn, .dropdown-content{
        font-size: 10px;
    }

    .dropdown-content > a {
        font-size: 10px;
        margin: 25px 10px;
    }

    #proglang {
        margin-left: 50px;
    }


    .dropdown-content {
        margin: 0 0 0 12%;
    }

    nav > ul > li {
        width: 100%;    
        display: flex;
    }

    nav > ul {
        flex-wrap: nowrap;
        margin: 10px 25%;
        width: 100%;
    }
    
    footer {
        display: none;
    }
    
    .intro, .education {
        font-size: 12px;
    }

    .heading {
        font-size: 15px;
    }

    .subheading {
        font-size: 12px;
        text-align: left;
    }
    
    .container > ul > li {
        font-size: 10px;
    }
    
    .info, .date {
        height: 15px;
        font-size: 10px;
    }
    
    .smallheading {
        font-size: 12px;
    }

    .indi {
        height: 100vh;
    }

    header {
        width: 100%;
    }
    
}