.sidebar_index, .sidebar_gp, .sidebar_lang {
    background-color: #fefcd1;
    height: 100vh;
    padding-left: 25px;
    font-size: 20px;
}

.sidebar_indi {
    background-color: #fefcd1;
    height: 125vh;
    padding-left: 25px;
    font-size: 20px;
}

.intro {
    padding-left: 0;
    padding-top: 0;
    margin: 5px;
    font-size: 17px;
}

.heading {
    padding-left: 0;
    padding-top: 10px;
    color: rgb(95, 95, 255);
    text-align: center;
}

.subheading {
    padding-left: 5px;
    color: rgb(95, 95, 255);
}

.name {
    font-weight: bold;
    padding-left: 5px;
}

.year1 {
    margin-left: 300px;
    font-weight: bold;
}

.year2 {
    margin-left: 125px;
    font-weight: bold;
}

.submenu {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    color: rgb(0, 123, 255);
}

.lang {
    font-size: 17px;
    padding:0;
    margin:0;
}

.indi  {
    background-color: rgb(255, 255, 255);
    height: 125vh;
}

.index, .proglang, .gp {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.smallheading {
    padding-left: 5px;
    margin: 0;
    color: rgb(95, 95, 255);
}

.info {
    width: 650px;
    padding-left: 5px;
}

.date {
    padding-left: 5px;

}

td {
    padding-left: 5px;    
}

tr {
    line-height: 250%;
}

.container {
    height: 100vh;
    padding: 0;
    margin: 0;
}
